<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/metro.css" rel="stylesheet">
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/metro.js"></script>


</head>
<body style="overflow-y: hidden;">
    @RenderBody()
<!--


<body class="metro">
<table class="table">
    <thead>
    <tr>
        <th class="sortable-column">Column</th>
        <th class="sortable-column sort-asc">Column</th>
        <th class="sortable-column sort-desc">Column</th>
    </tr>
    </thead>
</table>
-->
</body>

</html>
