@{
    ViewBag.Title = "Home Page";
}
<body >
    <div class="example">
        <div class="clearfix">
            <div class="grid fluid">
                <div class="row no-margin">
                    <div class="span4">
                        <h3>Active window</h3>
                        <div class="window">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <h3>Window with shadow</h3>
                        <div class="window shadow">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <h3>Inactive window</h3>
                        <div class="window inactive">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" style="margin-top: 20px">
            <div class="grid fluid">
                <div class="row no-margin">
                    <div class="span4">
                        <h3>Active window</h3>
                        <div class="window flat">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <h3>Window with shadow</h3>
                        <div class="window flat shadow">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <h3>Inactive window</h3>
                        <div class="window flat inactive">
                            <div class="caption">
                                <span class="icon icon-windows"></span>
                                <div class="title">Window caption</div>
                                <button class="btn-min"></button>
                                <button class="btn-max"></button>
                                <button class="btn-close"></button>
                            </div>
                            <div class="content">
                                Window content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>